<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animation_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7F8452F1CC4E0A7007EF3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F845481CC4E0A8007EF3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F845531CC4E0A8007EF3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
